---
import { ASSET_ENDPOINT } from '~/config';
import TeamCard from '~/features/landing_template/components/TeamCard.astro';
import { TeamMember } from '~/features/landing_template/services/TeamService';

interface Props {
  teamMembers: TeamMember[];
}

const { teamMembers } = Astro.props;
---

<section class="page-container mb-20">
  <h2 class="text-header-md font-medium mb-10">{'landing_page.team.our_team'.tr()}</h2>
  <div class="flex flex-wrap justify-around gap-5 lg:gap-y-20">
    {
      teamMembers.map((member) => (
        <TeamCard
          name={member.name}
          position={member.position}
          image={ASSET_ENDPOINT + '/' + member.image.id}
        />
      ))
    }
  </div>
</section>
