---
interface Fact {
  value: string;
  label: string;
}

interface Props {
  facts: Fact[];
}

const { facts } = Astro.props;
---

<section
  class="page-container py-20 grid grid-rows-2 grid-cols-2 gap-10 w-full lg:py-28 lg:flex lg:justify-between"
>
  {
    facts.map((fact) => (
      <div class="text-center lg:flex lg:flex-col items-center lg:w-fit">
        <p class="lg:w-fit font-semibold text-header-md md:text-header-xl">{fact.value}</p>
        <p class="lg:w-fit font-medium text-primary-200 text-body-md md:text-body-xl">
          {fact.label}
        </p>
      </div>
    ))
  }
</section>
