---
import Fact from '~/features/landing_template/components/Fact.astro';
import { QuickFact } from '~/features/landing_template/services/QuickFactService';

interface Props {
  facts: QuickFact[];
}

const { facts } = Astro.props;
---

<section
  class="page-container py-20 grid grid-rows-2 grid-cols-2 gap-10 w-full lg:py-28 lg:flex lg:justify-between"
>
  {facts.map((fact) => <Fact fact={fact} />)}
</section>
