---
import { Page } from 'astro';

import Paginator from '~/components/common/Paginator.astro';
import { Meta } from '~/components/core/MetaTags.astro';
import { ARTICLES, ROUTES, SITE } from '~/config';
import FullArticleList from '~/features/articles/components/FullArticleList.astro';
import { fetchArticles } from '~/features/articles/services/ArticleService';
import PageLayout from '~/layouts/PageLayout.astro';
import { ARTICLES_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
  const articles = await fetchArticles();
  return paginate(articles, {
    params: { articles: ARTICLES_BASE },
    pageSize: ARTICLES.postsPerPage,
  });
}

interface Props {
  page: Page;
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta: Meta = {
  title: await 'articles.header'.tr({ values: [currentPage] }),
  description: SITE.description,
  ogType: 'blog',
  noindex: currentPage > 1,
};
---

<PageLayout
  meta={meta}
  header={{ title: meta.title, links: [{ label: await 'header.home'.tr(), url: ROUTES.home }] }}
>
  <div class="max-w-3xl mx-auto">
    <FullArticleList articles={page.data} />
    <Paginator prevUrl={page.url.prev} nextUrl={page.url.next} />
  </div>
</PageLayout>
