---
import { loadSvg } from './utils';

interface Props {
  name: string;
  title: string;
  class: string;
  optimize?: boolean;
  [x: string]: any;
}

let { name, title, optimize = true, class: className, ...inputProps } = Astro.props;

const svg = await loadSvg(name, optimize, { ...inputProps, class: className, name });
---

<svg
  {...svg.props}
  astro-icon={name}
  set:html={(title ? `<title>${title}</title>` : '') + svg.innerHTML}></svg>
