---
import mapImage from '~/../data/images/me_map.png';
import { Icon } from 'astro-icon';
import Picture from '~/components/common/Picture.astro';

interface Props {
  routeMapUrl: string;
  fullMapUrl: string;
}

const { routeMapUrl, fullMapUrl } = Astro.props;
---

<div class="relative">
  <a
    class="block relative pb-[15%] overflow-hidden"
    href={fullMapUrl}
    target="_blank"
    rel="noopener noreferrer"
    underline-hover="false"
  >
    <Picture
      src={mapImage}
      class="absolute inset-0 object-cover h-full w-full mb-6"
      widths={[400, 3000]}
      sizes="(max-width: 3000px) 400px, 3000px"
      alt="mechterstaedt google maps"
      aspectRatio="2.26:1"
    />
  </a>
  <div class="bg-white text-primary-700 p-5 absolute top-5 left-5 rounded-lg shadow-lg flex gap-10">
    <div>
      <div class="font-bold text-body-lg">Kita Dreikäsehoch</div>
      <div class="mb-10">99880 Mechterstädt</div>
      <a class="text-secondary-700" href={fullMapUrl} target="_blank" rel="noopener noreferrer">
        Größere Karte ansehen
      </a>
    </div>
    <a
      class="flex flex-col items-center gap-1 text-secondary-700"
      href={routeMapUrl}
      target="_blank"
      rel="noopener noreferrer"
      underline-hover="false"
    >
      <Icon name="fa-solid:route" class="w-6 h-6" />
      <span>Routenplaner</span>
    </a>
  </div>
</div>
