---
import { Svg } from '@kita-hoersel/astro-utils/src/svg';
import Icon from 'astro-icon';

interface Props {
  password: string;
}

const { password } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center">
  <Svg name="security" class="w-3/4 md:w-2/4" title="illustration of man with key" />
  <div>
    <h2 class="font-medium text-body-md mt-10 md:mt-0 md:text-body-lg mb-10">
      {'paywall.please_enter'.tr()}
    </h2>
    <form onsubmit="return false">
      <input class="hidden" type="email" autocomplete="username" />
      <input
        id="password-input"
        type="password"
        autocomplete="new-password"
        placeholder={await 'paywall.password'.tr()}
        class="mb-7 w-full border-primary-100 border-2 border-opacity-30 outline-none rounded-md px-5 py-3 focus:border-primary-600"
      />
      <button
        id="login-btn"
        class="w-full px-5 py-3 bg-primary-600 text-white rounded-md justify-center items-center gap-2 flex"
      >
        <Icon name="bi:shield-lock-fill" class="w-5 h-5" />
        <span>{'paywall.show'.tr()}</span>
      </button>
    </form>
  </div>
</div>

<script define:vars={{ password }}>
  document.querySelector('#login-btn').addEventListener('click', () => {
    const givenPassword = document.querySelector('#password-input').value;

    if (password != givenPassword) {
      showToast('Falsches Passwort', false);
      return;
    }

    document.querySelector('.paywall').setAttribute('style', 'display: none;');
    document.querySelector('.content').setAttribute('style', 'display: block;');
  });
</script>
