---
import PostList from '~/features/landing_hoersel/components/PostList.astro';
import { fetchPosts } from '~/utils/posts';
import { BLOG, ROUTES } from '~/config';

const posts = await fetchPosts(2);
---

<section class="h-auto lg:flex">
  <div class="lg:w-1/2 lg:text-right lg:border-r-primary-200 lg:border-r-2 lg:pr-7 lg:mr-7">
    <div class="h-full flex flex-col justify-center">
      <h1 class="text-header-no font-bold mb-4 lg:text-header-md">
        {'hoersel_landing.sec_1.header'.tr()}
      </h1>

      <div class="text-primary-200 text-body-no space-y-6 mb-10 lg:text-body-md">
        <p set:html={'hoersel_landing.sec_1.paragraph_1'.tr()}></p>
        <p set:html={'hoersel_landing.sec_1.paragraph_2'.tr()}></p>
      </div>
    </div>
  </div>

  <div class="lg:w-1/2 justify-center flex flex-col">
    <div class="flex justify-between items-center mb-5">
      <h2 class="text-body-md lg:text-body-lg">{'hoersel_landing.sec_1.news'.tr()}</h2>
      <a href={BLOG.articles.pathname} class="text-primary-600 text-body-sm lg:text-body-no">
        {'hoersel_landing.sec_1.show_more'.tr()}
      </a>
    </div>
    <PostList posts={posts} />
  </div>
</section>
