---
import '~/utils/localization';
import '~/assets/styles/globals.scss';
import MetaTags, { Meta } from '~/components/core/MetaTags.astro';
import { DEFAULT_LANGUAGE } from '~/config';

interface Props {
  meta?: Meta;
}

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang={DEFAULT_LANGUAGE} class="motion-safe:scroll-smooth">
  <head>
    <MetaTags {...meta} />
  </head>

  <body class="antialiased w-full font-poppins bg-white text-primary-600">
    <slot />
  </body>
</html>
