---
import { classNames } from '@kita-hoersel/astro-utils/src/classnames';

import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/footer/Footer.astro';
import { Meta } from '~/components/core/MetaTags.astro';

interface Props {
  meta?: Meta;
  header: {
    pretitle?: string;
    title: string;
    description?: string;
    readMoreUrl?: string;
    subtitle?: string;
    links?: { label: string; url: string }[];
  };
  footer?: {
    routeMapUrl?: string;
    fullMapUrl?: string;
    label?: string;
    address?: string;
    contact?: {
      opening: string;
      management: string;
      mobile: string;
      email: string;
      address: string;
    };
    links?: { label: string; url: string }[];
  };
  container?: boolean;
}

const { meta, header, footer, container = true } = Astro.props;
---

<Layout {meta}>
  <Header {...header} />
  <div
    class="w-full h-1/3 absolute parallax lg:bg-white lg:z-30"
    data-parallax-rate="3"
    data-parallax-media="1024"
  >
  </div>
  <main class="relative z-30">
    <div class={classNames(container && 'page-container py-14 lg:py-20')}>
      <slot />
    </div>
    <script>
      import {
        addInitialParallaxOffset,
        listenForParallax,
      } from '@kita-hoersel/astro-utils/src/parallax';
      window.addEventListener('scroll', () => listenForParallax('.parallax'));
      window.addEventListener('load', () => addInitialParallaxOffset('.parallax'));
    </script>
  </main>
  <Footer {...footer} />
</Layout>
