---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config';

const meta = {
  title: SITE.title,
  description: SITE.description,
};
---

<Layout {meta}>
  <h1>Homepage</h1>
</Layout>
