---
import Picutre from '~/components/common/Picture.astro';

import openingImage from '~/../data/images/opening.jpg';
import { ROUTES } from '~/config';

const baseUrl = ROUTES.mechterstaedtLanding;
---

<section class="bg-primary-600 w-full">
  <div class="page-container w-full h-full px-0 lg:items-center lg:px-10 mb-10 lg:flex lg:py-14">
    <div class="h-full w-full lg:flex lg:mr-10 lg:w-2/6">
      <div class="overflow-hidden h-full w-full lg:h-60 lg:w-60 lg:rounded-2xl lg:shadow-lg">
        <div class="block group relative pb-[45%] h-0 md:h-80">
          <Picutre
            src={openingImage}
            class="absolute inset-0 object-cover h-full mb-6"
            widths={[400, 1100]}
            sizes="(max-width: 1100px) 400px, 1100px"
            alt="image of mechterstaedts opening ceremony"
            aspectRatio="16:9"
          />
        </div>
      </div>
    </div>

    <div class="text-white p-10 lg:flex lg:flex-col lg:justify-center">
      <h2 class="font-bold text-header-md mb-6">Unser Haus</h2>
      <p class="text-body-no lg:text-body-lg leading-8">
        Bereits 1983 wurde in Mechterstädt unser Kindergartengebäude eingeweiht. Heute spielen und
        lernen hier 52 Kinder, im Alter von einem Jahr bis zum Schuleintritt. Wir sind stolz auf das
        schöne Haus in der ländlichen Gegend.
      </p>
      <div class="text-body-no flex justify-end mt-10 lg:text-body-md">
        <a href={baseUrl + ROUTES.ourHouse}>Mehr erfahren</a>
      </div>
    </div>
  </div>
</section>
