---
import Picture from '~/components/common/Picture.astro';

interface Props {
  label: string;
  image: string;
}

const { label, image } = Astro.props;
---

<div>
  <div
    class="relative h-[200px] w-[300px] lg:h-[300px] lg:w-[400px] overflow-hidden rounded-lg shadow-lg mb-4"
  >
    <Picture
      src={image}
      class="absolute inset-0 object-cover w-full h-full mb-6"
      widths={[400, 500]}
      sizes="(max-width: 400px) 400px, 500px"
      alt={`image of ${label} room`}
      aspectRatio="16:9"
    />
  </div>
  <h3
    class="text-primary-100 lg:text-primary-600 text-body-no uppercase lg:normal-case lg:text-center lg:w-full lg:text-body-lg w-fit"
  >
    {label}
  </h3>
</div>
