---
import { ROUTES } from '~/config';
import '~/utils/localization';

const currentYear = new Date().getFullYear();
---

<footer class="bg-primary-600 text-white w-full rounded-t-2xl p-10 lg:py-10 lg:px-20">
  <div class="lg:flex lg:justify-between lg:items-center lg:mb-10">
    <h3 class="text-body-lg mb-5 lg:text-body-xl lg:mb-0">{'footer.header'.tr()}</h3>
    <ul class="flex space-x-5 text-body-no mb-7 lg:mb-0 text-secondary-100">
      <li><a href={ROUTES.privacy}>{'footer.privacy'.tr()}</a></li>
      <li><a href={ROUTES.imprint}>{'footer.imprint'.tr()}</a></li>
    </ul>
  </div>
  <hr class="mb-7 border-primary-100 opacity-30 border-t-2" />
  <p class="text-body-sm lg:text-right" set:html={'footer.copyright'.tr({ values: [currentYear] })}>
  </p>
</footer>
